* {
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

.dtable-container {
    max-width: 100% !important;

    table {
        white-space: nowrap !important;
        width:100%!important;
        border-collapse:collapse!important;
    }
}